.userRegisterForm {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: auto;
  max-width: 900px;
  padding: 1rem;
  width: 100%;
}

.form-group {
  margin-right: 0.5rem;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.form-button {
  background-color: var(--primary-green);
  border: none;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 0.8rem;
}

.form-input {
  width: 100%;
}

.form-error {
  color: red;
  display: none;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.form-input:invalid[ focused = 'true' ] ~ .form-error {
  display: block;
}
